@charset "UTF-8";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.429;
  color: black;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(../img/backg.jpg);
  background-size: 100%;
  padding: 80px 0 0 0;
}

.todo-container {
  width: 100%;
  float: left;
  padding: 15px;
}

.header {
  width: 100%;
  height: 80px;

  position: fixed;
  padding: 15px;
  top: 0;
  left: 0;
  z-index: 5;

  background-color: #010116;
  box-shadow: 0 2px 4px rgba(44, 62, 80, 0.15);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.header-input {
  width: 100%;
  height: 50px;
  float: left;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  text-indent: 18px;
  padding: 0 60px 0 0;
  background: #101049;
  border-radius: 5px 25px 25px 5px;
  border: 0;
  box-shadow: none;
  outline: none;

  -webkit-appearance: none;
  -moz-appearance: none;
}

.header-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

.header-input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

.header-button {
  width: 50px;
  height: 50px;
  background: transparent url('../img/plus.png') no-repeat center/cover;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 2;

  border-radius: 25px;
  border: 0;
  box-shadow: none;
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
}

.todo {
  width: 100%;
  float: left;
}

.todo-item {
  width: 100%;
  min-height: 170px;
  float: left;
  font-size: 14px;
  font-weight: 500;
  color: #dddddd;
  line-height: 22px;

  background: #000000;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 1px 2px rgba(44, 62, 80, 0.1);
  margin: 0 0 10px 0;
  padding: 14px 100px 14px 14px;
  word-break: break-word;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.todo-item:last-of-type {
  margin: 0;
}

.todo-buttons {
  width: 100px;
  height: 50px;

  position: absolute;
  top: 0;
  right: 0;
}

.todo-buttons button {
  width: 50px;
  height: 50px;
  float: left;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border: 0;
  box-shadow: none;
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
}

.todo-buttons .buttons button:last-of-type:before {
  content: '';
  width: 1px;
  height: 30px;
  background: #edf0f1;

  position: absolute;
  top: 10px;
  left: 0;
}

.todo-remove {
  background-image: url('../img/trash.png');
}

.todo-complete {
  background-image: url('../img/uncheck.png');
}

.todo-completed .todo-complete {
  background-image: url('../img/check.png');
}

.todo-completed {
  position: relative;
  padding: 60px 0 0 0;
}

.todo-completed:before {
  content: '';
  width: 150px;
  height: 1px;
  background: #d8e5e0;

  position: absolute;
  top: 30px;
  left: 50%;

  margin: 0 0 0 -75px;
}

.todo:empty:after {
  content: 'Нет карточек для рассмотрения';
  margin: 15px 0 0 0;
}

.todo-completed:empty:after {
  content: 'Нет избранных';
}

.todo:after,
.todo-completed:after {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 12px;
  color: #aaa;
}
.text-todo {
  font-size: 30px;
  font-weight: 700;
}
.todo-calc {
  display: flex;
  justify-content: space-around;
}
.todo-calc__items {
  padding: 15px;
}
.block {
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: space-between;
}
.todo-calc__items--1 {
  display: flex;
  flex-direction: column;
}
.block--3,
.todo-result {
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding-bottom: 8px;
}
.block--3 {
  align-items: center;
}
.text-todo__value {
  padding-top: 10px;
  border: solid 2px #8f009c;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin-bottom: -15px;
  display: block;
  width: 120px;
  height: 50px;
  font-size: 18px;
}
.title {
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#start {
  background-color: #8f009c;
  border: solid 2px white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.todo-input {
  height: 40px;
  border-radius: 7px;
  font-size: 17px;
}
.todo-input__Days {
  padding-top: 10px;
}

@media (max-width: 1220px) {
  .title {
    font-size: 16px;
  }
  #start {
    padding: 10px 0;
  }
  .todo-input {
    height: 30px;
    font-size: 14px;
  }
}
@media (max-width: 1100px) {
  #start {
    width: 110px;
  }
  .text-todo__value {
    width: 90px;
    height: 40px;
    font-size: 16px;
  }
}
@media (max-width: 1020px) {
  .block {
    width: 25%;
  }
  .block--3 {
    width: 80%;
  }
  .todo-result {
    width: 50%;
  }
}
@media (max-width: 880px) {
  .block {
    width: 20%;
  }
  .block--3 {
    width: 40%;
  }
  .todo-result {
    width: 20%;
  }
  .todo-input {
    height: 30px;
    width: 100px;
  }
}
@media (max-width: 680px) {
  .block {
    flex-direction: row;
    width: 100%;
  }
  .block--3 {
    flex-direction: row;
    align-items: center;
    margin-left: 39px;
  }
  .todo-result {
    width: 100%;
    margin-left: 20px;
  }
  .todo-calc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .todo-input {
    height: 30px;
    width: 150px;
  }
  .text-todo__value {
    width: 23%;
    margin-right: -35px;
  }
  .todo-calc__items {
    max-width: 200px;
    width: 100%;
  }
  #start {
    margin-left: 180px;
    margin-right: 70px;
  }
}
@media (max-width: 600px) {
  .text-todo__value {
    width: 40%;
  }
  #start {
    margin-left: 80px;
    margin-right: 60px;
  }
  .todo-result {
    width: 80%;
    margin-left: 0px;
  }
  .text-todo__value {
    margin-right: -130px;
  }
}
@media (max-width: 500px) {
  .text-todo__value {
    margin-right: -100px;
  }
  #start {
    margin-left: 50px;
    margin-right: 30px;
  }
}
@media (max-width: 420px) {
  #start {
    margin-left: 40px;
    margin-right: 10px;
  }
  .block {
    flex-direction: column;
    width: 100%;
    margin-left: 70px;
  }
  .todo-input {
    height: 30px;
    width: 200px;
  }
  .block--3 {
    margin-left: 40px;
  }
  .todo-result {
    flex-direction: column;
    height: 90px;
  }
}
@media (max-width: 400px) {
.todo-calc {
margin-left: -40px;
}
  .block--3 {
    margin-left: 70px;
  }
}
